$hit-color: red;
$miss-color: #E3E3E3;
$clickable-color: #8EBCFF;
$cell-border-color: #FFFFFF;
$win-color: #19A3FF;
$lose-color: #D11919;
$error-color: #D11919;

body {
    background: #fafafa;
}

.hero-unit {
    width: 100%;
}

.clickable {
  background-color: $clickable-color;
}

.hit {
  background-color: $hit-color;
}

.miss {
  background-color: $miss-color;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid $cell-border-color;
  float: left;
  border-radius: 5px;
}

.alert {
  display: none;
  font-size: 150%;
  color: red;
}

.message-content {
  display: none;
}

.message {
  width: 100%;
  height: 20%;
  color: white;
  text-align: center;
  padding-top: 1%;
}

.lose {
  background-color: $lose-color;
}

.win {
  background-color: $win-color;
}

.error {
  background-color: $error-color;
}
