body {
    background: #fafafa;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 350px;
}

.clickable {
  background-color: #8EBCFF;
}

.hit {
  background-color: red;
}

.miss {
  background-color: #E3E3E3;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #FFFFFF;
  float: left;
  border-radius: 5px;
  display: table;
}
