$hit-color: red;
$miss-color: #E3E3E3;
$clickable-color: #8EBCFF;
$cell-border-color: #FFFFFF;

body {
    background: #fafafa;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 250px;
}

.clickable {
  background-color: $clickable-color;
}

.hit {
  background-color: $hit-color;
}

.miss {
  background-color: $miss-color;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid $cell-border-color;
  float: left;
  border-radius: 5px;
  display: table;
}
