<div data-id='gameboard'>
  <div id=1 class='cell clickable hit'></div>
  <div id=2 class='cell clickable miss'></div>
  <div id=3 class='cell clickable'></div>
  <div id=4 class='cell clickable'></div>
  <div id=5 class='cell clickable'></div>
  <div id=6 class='cell clickable hit'></div>
  <div id=7 class='cell clickable miss'></div>
  <div id=8 class='cell clickable'></div>
  <div id=9 class='cell clickable'></div>
  <div id=10 class='cell clickable'></div>
  <div id=11 class='cell clickable'></div>
  <div id=12 class='cell clickable'></div>
  <div id=13 class='cell clickable'></div>
  <div id=14 class='cell clickable'></div>
  <div id=15 class='cell clickable'></div>
  <div id=16 class='cell clickable'></div>
  <div id=17 class='cell clickable'></div>
  <div id=18 class='cell clickable'></div>
  <div id=19 class='cell clickable'></div>
  <div id=20 class='cell clickable'></div>
  <div id=21 class='cell clickable'></div>
  <div id=22 class='cell clickable miss'></div>
  <div id=23 class='cell clickable'></div>
  <div id=24 class='cell clickable'></div>
  <div id=25 class='cell clickable'></div>
</div>
