<div data-id='banner'>
  <h1>Battleship</h1>
</div>

<div data-id='board-size-form'>
  <p>Please input your preferred board size:</p>
  <input type=text name=board-size><br>
  <button data-id=play-button>Play Game?</button>
</div>
